:root{
    --color-dark: #0075ff;
}
*{
    box-sizing: border-box;
  
}
body{font-family: tahoma,arial;
   
    margin: 0;
}
.page{
    
  height: 100vh;
   
}
.page::before{
    content: "";
    box-shadow: 0 0 20px #616785 ;
    position: fixed;
    width: 300%;
    height: 100%;
    background-color: var(--color-dark);
    left: 50%;
    top: 50%;
    transform: translate(-50%)skew(0,-10deg) ;
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
}
@keyframes waving{
    from{
        transform: translate(-50%)skew(0,-10deg) ;

    }to{
        transform: translate(-20%)skew(10deg,0deg) ;

    }
}
.page .card{
width: 300px;
padding: 20px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
text-align: center;
color: rgb(1, 1, 1);
background-color: white;
box-shadow: 0 0 10px #ddd inset;
}
img{
   max-width: 100%;
   border-radius: 10px; 
}